<div class="row">

  <div class="col-3 col-xl-2 bd-sidebar">   
<div class="align-content-lg-end bg-dark text-white">
<app-control-programa></app-control-programa>

</div>
</div>


<div class="col-8">  

<div>
<div class="row">
  <div class="col-7">
    <hr>

    <app-label-data-brand></app-label-data-brand>  
  <hr>
  
<div class="card-body" style="position: relative;">
    
    <app-diag-barras></app-diag-barras>

  </div>
</div>


<div class="col-lg-5">

  <hr>


  <div col-lg>
    <div class="d-flex justify-content-between">
    <img src="../../../assets/img/facebook_logo.png" width="60" height="60" alt="">
    <label>16%</label>
    <img src="../../../assets/img/instagram_logo.png" width="60" height="60" alt="">
    <label>8%</label>
    <img src="../../../assets/img/twitter_logo.png" width="60" height="60" alt="">
    <label>76%</label>
    <img src="../../../assets/img/youtube_logo.png" width="60" height="60" alt="">
    <label>0%</label>
    </div>
  </div>
<br>
<hr>
<br>
<div col-lg>
  <app-diag-torta></app-diag-torta>
</div>
</div>
</div>
</div>

</div>
</div>