<div class="container mt-5">
<div class="row">
  
<div class="col-8">
  <app-label-data-brand></app-label-data-brand>  
  <hr>
  
<div class="card-body" style="position: relative;">
    
    <app-diag-barras></app-diag-barras>

  </div>
</div>



<div class="col-lg-4">



  <div col-lg>
    <div class="d-flex justify-content-between">
    <img src="../../../assets/img/facebook_logo.png" width="40" height="40" alt="">
    <label>16%</label>
    <img src="../../../assets/img/instagram_logo.png" width="40" height="40" alt="">
    <label>8%</label>
    <img src="../../../assets/img/twitter_logo.png" width="40" height="40" alt="">
    <label>76%</label>
    <img src="../../../assets/img/youtube_logo.png" width="40" height="40" alt="">
    <label>0%</label>
    </div>
  </div>
<br>
<hr>
<br>
<div col-lg>
  <app-diag-torta></app-diag-torta>
</div>


</div>
</div>

</div>
